extends layout.pug
block content
	form(method='GET', action='/search')
		label(for='search_type') Search Type:
		select#search_type(name='type')
			option(value='word') Word (Fuzhounese Characters)
			option(value='foochowRomanized') Foochow Romanized
			option(value='rongpin') Rong Pinyin
			option(value='definition') Definition (English Search)
			option(value='mandarin') Mandarin Characters
		label(for='search_query') Query:
		input#search_query(type='text', name='query', placeholder='Query')
		input(type='submit')
	a(href='/data.json', download='') Download the database
