doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title Fuzhou Dictionary
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css', type='text/css')
		link(rel='stylesheet', href='/static/stylesheets/style.css', type='text/css')
	body
		block content