extends layout.pug
block content
	p
		| Your suggestion was created 
		a(href=issueCommentUrl) here
	ul(style='list-style-type: none; padding: 0;')
		li
			a(href='/suggest') Suggest another word
		li
			a(href='/') Home